.section-container {
  position : relative;
  width : 96%;
  margin : auto;
  text-align: center;
  padding: 10px;
  border: 6px outset darkcyan;
  font-size: 100%;
  background-attachment: scroll;
  background-color: #fffef3;
  background-origin: padding-box;
  background-clip: padding-box;
  user-select: none;
  cursor: default;
  transform-origin: 0px 0px 0px;
  left: 0px;
  top: 0px;
  box-shadow: none;
  display: block;
  overflow: visible;
  margin-bottom: 2rem;
}

.controls-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: bottom;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 10px;
}

.button {
  background-color: #159957;
  color: white;
  border: 2px outset black;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.note-button {
  width: 90px;
}

#metronome-button {
  width: 20%;
}

button.select {
  background-color: #38a2ba;
}

button:focus {
  outline: 1px double black;
}

#bpm-slider {
  width: 75%;
  margin-left: 1vw;
  -webkit-appearance: none;
  height: 3px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#bpm-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: #159957;
  cursor: pointer;
}

#bpm-slider::-moz-range-thumb {
  width: 10px;
  height: 25px;
  background: #159957;
  cursor: pointer;
}
