@media (min-width: 850px) {
	.tuner-container {
		position : relative;
		width : 760px;
		height : 200px;
    margin : auto;
    text-align: center;
    padding: 0px;
    border: 1px solid #bed2de;
    font-size: 100%;
    background-attachment: scroll;
    background-image: none;
    background-origin: padding-box;
    background-clip: padding-box;
    user-select: none;
    cursor: default;
    transform-origin: 0px 0px 0px;
    left: 0px;
    top: 0px;
    box-shadow: none;
    display: block;
    overflow: visible;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin: 100px;
    position: bottom;
  }

  .note-button {
    width: 80px;
    background-color: #159957;
    color: white;
  }
}
