---
---

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  margin: 1.5rem 0 1.5rem 0;
  font-size: 50px;
}

a {
  color: #57ddef
}

ul {
  text-align: left;
  list-style-position: inside;
}

hr {
  width: 100%;
  height: 0px;
  border-style: solid;
  border-color: #2a2a1c;
  border-width: 2px 0 0 0;
  margin: 0;
}

p.left {
  text-align: left;
}

.green-blocks-45 {
  background: linear-gradient(45deg,
          rgba(42, 142, 106, 1) 0% 10%,
          rgba(40, 137, 101, 1) 10% 20%,
          rgba(38, 132, 96, 1) 20% 30%,
          rgba(36, 127, 91, 1) 30% 40%,
          rgba(34, 122, 86, 1) 40% 50%,
          rgba(32, 117, 81, 1) 50% 60%,
          rgba(30, 112, 76, 1) 60% 70%,
          rgba(28, 107, 71, 1) 70% 80%,
          rgba(26, 102, 66, 1) 80% 90%,
          rgba(24, 97, 61, 1) 90% 100%
  );
  background-size: 100% 100%;
}

.blue-blocks-45 {
  background: linear-gradient(45deg,
          rgba(49, 107, 163, 1) 0% 10%,
          rgba(46, 102, 158, 1) 10% 20%,
          rgba(43, 97, 153, 1) 20% 30%,
          rgba(40, 92, 148, 1) 30% 40%,
          rgba(37, 87, 143, 1) 40% 50%,
          rgba(34, 82, 138, 1) 50% 60%,
          rgba(31, 77, 133, 1) 60% 70%,
          rgba(28, 72, 128, 1) 70% 80%,
          rgba(25, 67, 123, 1) 80% 90%,
          rgba(22, 62, 118, 1) 90% 100%
  );
  background-size: 100% 100%;
}

.blue-blocks-135 {
  background: linear-gradient(135deg,
          rgba(49, 107, 163, 1) 0% 10%,
          rgba(46, 102, 158, 1) 10% 20%,
          rgba(43, 97, 153, 1) 20% 30%,
          rgba(40, 92, 148, 1) 30% 40%,
          rgba(37, 87, 143, 1) 40% 50%,
          rgba(34, 82, 138, 1) 50% 60%,
          rgba(31, 77, 133, 1) 60% 70%,
          rgba(28, 72, 128, 1) 70% 80%,
          rgba(25, 67, 123, 1) 80% 90%,
          rgba(22, 62, 118, 1) 90% 100%
  );
  background-size: 100% 100%;
}

.purple-blocks-135 {
  background: linear-gradient(135deg,
          rgba(91, 96, 167, 1) 0% 10%,
          rgba(88, 89, 162, 1) 10% 20%,
          rgba(86, 82, 157, 1) 20% 30%,
          rgba(83, 77, 152, 1) 30% 40%,
          rgba(81, 70, 147, 1) 40% 50%,
          rgba(78, 63, 142, 1) 50% 60%,
          rgba(76, 56, 137, 1) 60% 70%,
          rgba(73, 49, 132, 1) 70% 80%,
          rgba(71, 42, 127, 1) 80% 90%,
          rgba(68, 35, 122, 1) 90% 100%
  );
  background-size: 100% 100%;
}

.grey {
  background: linear-gradient(90deg, rgb(67, 104, 94) 0%, rgb(47, 79, 79) 50%, rgb(27, 59, 59) 100%);
}

.main-container {
  color: #f3f3f3;
  text-align: center;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
}

.slim-wrapper {
  margin: 0 10vw 0 10vw;
}

.project-text {
  margin: 0 2vw 0 2vw;
  flex: 1;
}

.project-media {
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slim-wrapper .project-media {
  flex: 0 0 35%;
}

.project-image {
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid #2a2a1c;
}

.image-text {
  font-style: italic;
  font-size: 14px;
}

.slim-wrapper .project-image {
  max-height: 650px;
}

.video-wrapper {
  width: 100%;
  position: relative;
  padding-top: 56.25%; /* 9/16 = 0.5625 */
}

.project-video {
  max-width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border: 1px solid black;
}

.spaced-list > li {
  margin-bottom: 15px;
}

/* Responsive: for smaller screens & mobile */
@media (max-width: 1200px) {
  .project-container {
    flex-direction: column;
    text-align: center;
  }

  .slim-wrapper {
    margin: 0;
  }

  .project-media {
    flex: 0 0 auto;
    justify-content: center;
    width: 100%;
  }

  .project-image {
    max-width: 90%;
  }

  ul {
    padding-left: 10px;
  }
}

footer {
  margin: 15px;
  position: static;
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

#unity-container {
  padding-top: 2rem;
}

#unity-canvas {
  border-color: #57ddef;
  border-width: 4px 8px;
  border-style: outset;
}

#unity-footer {
  display: inline-block;
  text-align: right;
  font-size: 11pt;
}

#unity-fullscreen-button {
  cursor: pointer;
  float: right;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background: url('../images/fullscreen-button.png') no-repeat center;
  background-size: contain;
}

#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#unity-logo {
  width: 154px;
  height: 130px;
  background: url('../images/unity-logo-dark.png') no-repeat center;
}

#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  margin-left: 6.5px;
  background: url('../images/progress-bar-empty-dark.png') no-repeat center;
}

#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url('../images/progress-bar-full-dark.png') no-repeat center;
}