---
---
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

body { padding: 0; margin: 0; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.5; }

h1 { margin: 0; padding-top: 2rem; font-size: 50px; }

a { color: #4dc9c1; }

.gradient { color: #fff; text-align: center; background-color: #0e2422; height: 100vh; }

div, footer { background-color: inherit; }

.site-footer { padding: 0rem 1rem 1rem; }

.site-footer-owner { display: block; font-weight: bold; }

#unity-container { padding-top: 2rem; }

#unity-canvas { border-color: #008b8b; border-width: 4px 8px; border-style: outset; }

#unity-footer { display:inline-block; text-align: right; font-size: 11pt; }

#unity-fullscreen-button { cursor:pointer; float: right; width: 20px; height: 20px; margin-left:10px; background: url('../../TemplateData/fullscreen-button.png') no-repeat center; background-size: contain; }